<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>step_test_with_SK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB31E5FB1E89872E001D9058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB31E6151E89872F001D9058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB31E6201E89872F001D9058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
